.small {
  width: 180px;
  display: inline-block;
  text-align: center;
}
canvas {
  background-color: #fff ;
}

.dataVis{
  display: inline-block;

}
.medium {
  width: 280px;
  display: inline-block;
  text-align: center;
}
.large {
  width: 800px;
  display: inline-block;
  text-align: center;
}
